spring:

  application:
    name: EmployeeOnboardingV2

#  datasource:
#    url: jdbc:postgresql://localhost:5432/employeeDB
#    username: postgres
#    password: 1234
#    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
#    defer-datasource-initialization: true

#  sql:
#    init:
#      mode: always
#      data-locations: classpath:data.sql

  mail:
    host: smtp.gmail.com
    port: 587
    username: email@gmail.com
    password: qrsn tyjo ldmk ilvi

  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true
          required: true
        ssl:
          trust: smtp.gmail.com

jwt:
  secretKey: amdgJInfslfjr4584shes8eu6sdgrt4hit51v1x145eq41fdxhjufjnh14ui6gvcfy

server:
  servlet:
    context-path: /api/v2